<nav>
  <div class="navbar-wrapper light-blue">
<a href="/app.component.html" class="brand-logo center">Produtos App</a>
  </div>
</nav>
<div class="container">
  <h5>Filtrar por:</h5>
  <input class="campo-busca" type="text" placeholder="Informar a descrição do produto:" [(ngModel)]="searchterm" (keydown)="search($event)">
  <ul class="ul-content" *ngFor="let prod of produtos">
    <li> {{'# '+ (prod.codigo) }}</li>
    <li> {{'Descrição: '+ (prod.description | uppercase) }}</li>
    <li> {{'Quantidade: '+ (prod.qtde) }}</li>
    <li>{{'Validade: ' + (prod.validade | date: "dd/MM/yyyy")}}</li>
    <li> {{'Loja: '+ (prod.loja) }}</li>
    <li> {{'Seção: '+ (prod.secao) }}</li>
    <li> {{'Tipo: '+ (prod.tipo) }}</li>
  </ul>
  <div *ngIf="produtos?.length < 1">
    <p class="mensagem-busca">Nenhuma busca encontrada</p>
  </div>
</div>
<div class="container">
  <app-produtos></app-produtos>
  <app-add-produtos></app-add-produtos>
</div>
